/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main: #860EFF;
    --main2: #1C0C5B;
    --bg: #D9D9D9;
    --shadow: 3px 3px 10px rgb(45, 43, 43);
}

/* Style untuk navbar */
.container-navbar {
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #1C0C5B;
    display: flex
}

.logo>img {
    height: 40px;
    width: 10rem;
}

.search-bar {
    padding: .3rem;
    border-radius: 10px;
    width: 15rem;
}

.menu>a {
    color: #D9D9D9;
    text-decoration: none;
    margin: 0 1.3rem;
    font-size: 20px;
}

.menu>input {
    margin-right: 1rem;
}

.login>a {
    margin: 0 1rem;
    text-decoration: none;
    color: #fff;
}

.login-button {
    background-color: var(--main);
    padding: .5rem 2rem;
}


.content2 {
    width: 100%;
}

.hero {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(thumb-1920-710681.jpg);
    background-size: cover;
    background-position: center;
    color: black;
}


section {
    max-height: 100vh;
    padding: 4rem 5rem;
}

section>h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--main2);
    margin-bottom: 1rem;
}

section>p {
    text-align: center;
    margin-bottom: 2rem;
}


/* tracking */
.container-tracking {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
    box-shadow: 3px 3px 10px rgb(45, 43, 43);
}

.container-card-input {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.lokasi {
    width: 12rem;
}

.tujuan {
    width: 12rem;
}

.berat {
    width: 7.9rem;
}

.card>p,
.card-input>p,
.card>h1,
.card-input>h1 {
    margin-top: .5rem;
    color: var(--main2);
}

.card>input,
.card-input>input {
    width: 100%;
    padding: .3rem;
    margin-top: .4rem;
}

.button {
    margin-top: .5rem;
    padding: .5rem;
    background-color: var(--main);
    color: #fff;
    border: none;
    cursor: pointer;
}


.container-whyus {
    width: 100%;
    display: flex;
    box-shadow: var(--shadow);
    position: relative;
    z-index: 1;
    padding: 4rem 2rem;

}

.quote {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: absolute;
    top: -2rem;
    left: 4rem;
    z-index: 2;
    background-color: var(--main2);
    text-align: center;
    line-height: 1px;
    font-size: 7rem;
    color: var(--main);
}

.container-testi {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.testi {
    display: flex;
    width: 75%;
}

.kata-kata {
    margin-left: .5rem;
}


.container-testi img {
    width: 100%;
    height: 7rem;
}

/* kontent kanan */

.container-content-kanan {
    display: flex;
    align-items: start;
    width: 100%;
    gap: 1rem;
}

.content-kanan {
    width: 60%;
}

.content-kanan img {
    width: 100%;
    margin-bottom: .5rem;
}

.content-kanan h4 {
    margin-top: 1rem;
}

.informasi-terbaru {}


.container-content3 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1.3rem;
    background-color: var(--main);
    width: 100%;
    margin-top: 2rem
}

.container-caption {
    width: 10rem;
}

.caption {
    text-align: center;
}

.caption img {
    width: 6rem;
    height: 6rem;
}

.container-info {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.info-img {
    width: 30%;
}

.info-img img {
    width: 100%;
    height: 10rem;
}

footer {
    background-color: var(--main2);
    padding: 4rem 5rem;
}

.logo-footer img {
    width: 15rem;
    height: 5rem;
}
.container-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-kanan{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.container-footer-bottom{
    color: white;
    background-color: var(--main2);
    display: flex;
    padding: 0 5rem;
    justify-content: space-between;
}
.sosmed{
    width: 20%;
    display: flex;
    justify-content: space-evenly;
}
